* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
h1 {
    margin-top: 1rem;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1.2rem rgba(230, 0, 0, 0.9);
    font-size: 8vmin;
    background-color: white;
    color: black;
     
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(125, 255, 255);
    color:black;
    font-style: bold;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(230, 0, 0, 0.9) ;
    margin-bottom: 3rem;
}

#reset-btn:hover {
   background-color: rgb(125, 255, 255);
   color: red;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(125, 255, 255);
    color:black;
    font-style: bold;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(230, 0, 0, 0.9) ;
}

#new-btn:hover {
   background-color: rgb(125, 255, 255);
   color: red;
}

#msg {
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide {
    display: none;
}


@media (max-width: 1200px) {
    .msg-container {
        height: 100vmin;
        margin-top: 10rem;
       
    }
    #reset-btn {
        margin-bottom: 5rem;
        padding: 1rem;
    }

    #new-btn {
        padding: 1rem ;
        /* border-radius: 2rem; */
    }

    h1 {
        font-size: 10vmin;
    }
}

@media (max-width: 900px) {
    .msg-container {
        height: 90vmin;
       
    }
    #reset-btn {
        margin-bottom: 5rem;
        padding: 1rem;
    }

    #new-btn {
        padding: 1rem ;
        border-radius: 1rem;
    }

    h1 {
        font-size: 10vmin;
    }
}

@media (max-width:600px) {
    .msg-container {
        height: 110vmin;
       
    }
    #reset-btn {
        margin-bottom: 5rem;
        padding: 1rem;
    }
}
@media (max-width: 400px) {
    .msg-container {
        height: 150vmin;
        margin-top: 10rem;
       
    }
    #reset-btn {
        margin-bottom: 5rem;
        padding: 1rem;
    }

    #new-btn {
        margin-bottom: 5rem;
        padding: 1rem;
    }
}

.dark-mode {
    background-color: black;
    color: white;
  }

.light-mode {
    background-color: white;
    color: black;
  }

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: transparent;
  }

#theme-toggle {
    position: absolute;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    padding: 10px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    background: transparent;

  }

